<footer>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>@Model.Title</h2>
                </div>
                <div class="col-md-6 col-md-offset-3 text-center">
                    <p class="fh5co-social-icons">
                        <a target="_blank" rel="noopener noreferrer" href="@Model.Twitter"><i class="icon-twitter2"></i></a>
                        <a target="_blank" rel="noopener noreferrer" href="@Model.Facebook"><i class="icon-facebook2"></i></a>
                        <a target="_blank" rel="noopener noreferrer" href="@Model.Instagram"><i class="icon-instagram"></i></a>
                        <a target="_blank" rel="noopener noreferrer" href="@Model.Dribbble"><i class="icon-dribbble2"></i></a>
                        <a target="_blank" rel="noopener noreferrer" href="@Model.Youtube"><i class="icon-youtube"></i></a>
                    </p>
                    @Html.Raw(Model.CopyrightText)
                </div>
            </div>
        </div>
    </div>
</footer>
